.colors .od-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.colors .color-name {
  padding: 0.5rem;
  width: 50%;
  margin-inline: auto;
  font-size: 1rem;
}
.color-details-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
